<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
	  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/addons/p5.sound.min.js"></script>
</head>
<body>
    <div class="rapper">
      <h1 class="heading">My own Youtube Waveform</h1>
      <input class="URL-input" placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q">
      <button class="convert-button">Convert</button>
      <button class="clear-button">Clear</button>
    </div>
    <div class="audio">
      <button class="play" id="play">play</button>
      <button class="pause" id="pause">pause</button>
    </div>
    <div class="controller">
      <input type="color" id="favcolor" name="favcolor" value="#ff0000">
      <input type="range" id="range_bar" min="1" max="160" />
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src='/js/script.js'></script>
    <script src="/js/sketch.js"></script>
</body>
</html>
