* {
    text-align: center;
}
canvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}
.heading {
    font-family: Arial;
    margin-top:5vh;
}
.URL-input, .convert-button, .clear-button{
    font-size:1.3em;
    padding:5px 10px;
}
.audio{
  margin: 5px auto;
  padding: 5px 5px;
  width: 20%;
  background: #ffffff;
  border:2px solid #0485ff;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width : 45%;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button, .clear-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
}
.play, .pause{
  border-radius:0px 4px 4px 0px;
  border:2px solid #0485ff;
  background: #0485ff;
  color:white;
}
.controller{
  position: relative;
  bottom: -350px;
  margin: 5px auto;
  padding: 5px 5px;
  width: 50%;
  background: #ffffff;
  border:2px solid #0485ff;
}
